<!DOCTYPE html>
<html lang="en">
<head>
    <title>Описание регистрации</title>
    <th:block th:insert="~{base_list.html :: bootstrap}"></th:block>
</head>
<body>
<th:block th:insert="~{base_list.html :: navbar}"/>
<div class="container mt-4">
    <h2>Просмотр и редактирование регистрации</h2>

    <div th:if="${error}" class="container mt-3">
        <div class="alert alert-danger" th:text="${error}"></div>
    </div>

    <form th:action="'/registration/edit/'+${registration.id}" method="post">
        <div class="mb-3">
            <label for="userId" class="form-label">Пользователь</label>
            <select id="userId" name="userId" class="form-select" required>
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:selected="${user.id == registration.user.id}"
                        th:text="${user.surname + ' ' + user.name}">Пользователь</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Дата регистрации</label>
            <input type="datetime-local" id="date" name="date" class="form-control" th:value="${formattedDate}" readonly>
        </div>
        <div class="mb-3">
            <label for="eventId" class="form-label">Событие</label>
            <select id="eventId" name="eventId" class="form-select" required>
                <option th:each="event : ${events}"
                        th:value="${event.id}"
                        th:selected="${event.id == registration.event.id}"
                        th:text="${event.name}">Событие</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
    <form th:action="'/registration/delete/'+${registration.id}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
    <a href="/registration/list" class="btn btn-secondary">Назад к списку</a>
</div>
</body>
</html>
