<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <th:block th:insert="~{base_list.html :: bootstrap}"></th:block>
</head>
<body>
<th:block th:insert="~{base_list.html :: navbar}"></th:block>

<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow" style="width: 30rem;">
    <div class="card-body">
      <h3 class="card-title text-center">Регистрация</h3>

      <form th:action="@{/register}" method="post">
         <div th:if="${message}" class="alert alert-danger" role="alert">
             <p th:text="${message}"></p>
         </div>

        <div class="form-outline mb-4">
          <input type="text" id="surname" name="surname" class="form-control" required/>
          <label class="form-label" for="surname">Фамилия</label>
        </div>

        <div class="form-outline mb-4">
          <input type="text" id="name" name="name" class="form-control" required/>
          <label class="form-label" for="name">Имя</label>
        </div>

        <div class="form-outline mb-4">
          <input type="date" id="birth_date" name="birth_date" class="form-control" required/>
          <label class="form-label" for="birth_date">Дата рождения</label>
        </div>

        <div class="form-outline mb-4">
          <input type="text" id="username" name="username" class="form-control" required/>
          <label class="form-label" for="username">Никнейм</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="password" name="password" class="form-control" required/>
          <label class="form-label" for="password">Пароль</label>
        </div>

        <div class="pt-1 mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
        </div>

        <p class="text-center">Уже есть аккаунт? <a th:href="@{/login}" class="link-info">Войти</a></p>
      </form>
    </div>
  </div>
</section>

</body>
</html>
